@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "normalize.css";
@import "bootstrap.min.css";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto",Arial,sans-serif;
  background-color: #f0efef;
}

/*Header*/

.menu_bar {
  display: none;
}

header {
  width: 100%;
}

header nav {
  background-color: black;
  z-index: 1000;
  width: 100%;
  margin: auto;
  outline: none;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

header nav ul li:hover {
  background-color: gray;
}

header nav ul li a {
  color: #fff;
  text-shadow: 2px 2px gray;
  display: block;
  text-decoration: none;
  padding: 20px;
}

header nav ul li a span {
  margin-right: 10px;
}

header nav ul li:hover .children {
  display: block;
}

header nav ul li .children {
  display: none;
  background-color: black;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

header nav ul li .children li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
  display: block;
}

header nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}
header nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}

/*Home*/
section {
  position: relative;
  width: 100%;
}
.banner {
  width: 100%;
  height: 400px;
  margin: auto;

  background-size: 100% 100%;

  animation: banner 10s infinite;
  animation-direction: alternate;
}

  @keyframes banner {
    0%, 30% {
      background-image: url(../img/peopple.jpg);
      opacity: 1;
    }
    31%, 34% {
      opacity: 0.1;
    }
    35%, 65% {
      background-image: url(../img/peopple2.jpg);
      opacity: 1;
    }
    66%, 69% {
      opacity: 0.1;
    }
    70%, 100% {
      background-image: url(../img/peopple3.jpg);
      opacity: 1;
    }
  }

  .banner2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
  }

  .banner2 h1 {
    font-size: 100px;
    color: #fff;
    font-family:'Permanent Marker', cursive;
    text-shadow: 2px 2px black;
  }

  .banner2 h4 {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px black;
  }

  .banner2 a {
    width: 100px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    margin-left: 320px;
    border: 3px solid #fff;
    text-shadow: 2px 2px black;
    font-size: 20px;
    background-color: #b80f22;
  }

  .banner2 a:hover {
    background-color: gray;
  }
  .post-banner {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .post-banner h1 {
    font-size: 50px;
    color: black;
    font-family: "Roboto",Arial,sans-serif;
    text-shadow: 2px 2px black;
  }

  .section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }


  .contenedor-imagenes {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .section-one {
    width: 45%;
    height: 350px;
    margin: 10px;
    border: 3px solid black;
    overflow: hidden;
    position: relative;
  }

  .section-one img {
    width: 100%;
    height: 100%;
    transition: all .3s;
  }

  .section-one:hover img {
    filter: blur(1.5px);
    transform: scale(1.5);
    transition: all .3s;
  }

  .section-one:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s;
  }
/*
  .section-one:hover:before {
    background: rgba(0,0,0,.4);
    z-index: 2;
    transition: all .3s;
  }
*/
  .texto {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .texto-titulo, .texto-parrafo {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
    color:black;
  }

  .texto-titulo {
    position: relative;
    left: 100%;
    transition: all .3s;
  }
/*
.section-one:hover .texto-titulo {
  left: 0;
  animation-delay: .3s;
  transition: all .3s;
} */

.texto-parrafo {
  position: relative;
  right: 100%;
  transition: all .3s;
}

.section-one:hover .texto-parrafo {
  right: 0;
  animation-delay: .3s;
  transition: all .3s;
}

aside {
  width: 30%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

aside div {
  width: 45%;
  background-color: gray;
}

/*Formulario Registro y Contacto*/

main {
  width: 100%;
  font-family: "Roboto",Arial,sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


main .formulario {
  width: 50%;
  background-color: #666666;
  border-radius: 30px;
  margin-bottom: 20px;
  border: 8px solid darkgray;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 40px;
}

.form-register {
  width: 95%;
  max-width: 500px;
  margin: auto;
  border-radius: 7px;
}

.form--titulo{
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid black;
}

.contenedor-inputs {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #fff;
}
.input-48 {
  width: 48%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
}

.input-100 {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
}

input::placeholder {
  color: white;
}

textarea {
  margin-bottom: 20px;
  outline: none;
}

.btn-enviar {
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
  height: 45px;
  background: #b80f22;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  padding: 5px;
}
.btn-enviar:active{
  transform: scale(1.10);
}

.form--link {
  width: 100%;
  margin: 7px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}


/*Footer*/

footer {
  width: 100%;
}

.footer-container {
  width: 100%;
  background-color: #666666;
  color: #fff;
}

.footer-main {
  width: 98%;
  max-width: 1000px;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-main .footer-columna {
  width: calc(100% / 3);
  text-align: justify;
}

.footer-main .footer-columna:nth-child(2) {
  padding: 0 20px;
}

.footer-main .footer-columna h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.footer-main .footer-columna input[type="email"] {
  border: none;
  width: 100%;
  border: 1px solid black;
  font-size: 14px;
  padding: 10px;
  font-family: "Roboto",Arial,sans-serif;
}

.footer-main .footer-columna input[type="submit"] {
  border: none;
  background: #b80f22;
  color: #fff;
  padding: 10px 40px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Roboto",Arial,sans-serif;
}

.footer-main .footer-columna span p {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: "Roboto",Arial,sans-serif;
}

.footer-copy-redes {
  width: 100%;
  background-color: #000;
  border-top: 3px solid #fff;
}

.main-copy-redes {
  width: 98%;
  max-width: 1000px;
  padding: 15px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-copy-redes .footer-copy {
  width: 70%;
  color: #fff;
}

.main-copy-redes .footer-redes {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-copy-redes .footer-redes a {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  text-align: center;
}

/*Media Query*/

@media screen and (max-width:790px) {
  body {
    padding-top: 80px;
  }
/*Header*/

  .menu_bar {
    display: block;
    width: 100%;
    position: fixed;
    top:0;
    background-color: #E6344A;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu_bar span {
    float: right;
    font-size: 40px;
  }

  header nav {
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
  }

  header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255,.5);
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li:hover .children {
    display: none;
  }

  header nav ul li .children {
    width: 100%;
    position: relative;
  }

  header nav ul li .children li a {
    margin-left: 20px;
  }

  header nav ul li .caret {
    float: right;
  }
  /*Home*/

  section {
    width: 100%;
  }


  .banner2 h1, h4 {
    font-size: 60px;
    margin-right: 40px;
  }

  .banner2 a {
    margin-right: 350px;
  }

  .post-banner h1 {
    font-size: 30px;
    margin-right: 110px;
  }



  .contenedor-imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
  }
  /*Footer*/

  .footer-main .footer-columna {
    padding: 0 10px;
  }

  .footer-main .footer-columna h3 {
    font-size: 28px;
  }

  .footer-main .footer-columna p {
    font-size: 14px;
  }

  main .formulario {
    margin-top: 20px;
    width: 80%;
  }

}

@media screen and (max-width:640px) {
  .footer-main {
    padding: 10px 0;
  }

  .footer-main .footer-columna {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .footer-main .footer-columna h3 {
    margin-bottom: 5px;
  }

  .footer-main .footer-columna span {
    display: block;
  }

  .main-copy-redes .footer-copy {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

   .main-copy-redes .footer-redes {
    width: 80%;
    margin: auto;
  }

  main .formulario {
    margin-top: 20px;
  }

  section {
    width: 100%;
  }


  .banner2 h1, h4 {
    font-size: 60px;
    margin-right: 40px;
  }

  .banner2 a {
    margin-right: 350px;
  }

  .post-banner h1 {
    font-size: 30px;
    margin-right: 110px;
  }



  .contenedor-imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
  }
}

/*faq */
.card-header{
	background-color: #b0aac0 !important;
}
.card-header a {
color: black;}
