* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #FEFEFE;
  font-family: 'Raleway', sans-serif;
}

/*Header*/

.menu_bar {
  display: none;
}

header {
  width: 100%;
}

header nav {
  background-color: black;
  z-index: 1000;
  width: 100%;
  margin: auto;
  outline: none;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

header nav ul li:hover {
  background-color: gray;
}

header nav ul li a {
  color: #fff;
  text-shadow: 2px 2px gray;
  display: block;
  text-decoration: none;
  padding: 20px;
}

header nav ul li a span {
  margin-right: 10px;
}

header nav ul li:hover .children {
  display: block;
}

header nav ul li .children {
  display: none;
  background-color: black;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

header nav ul li .children li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
  display: block;
}

header nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}
header nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}

/*Home*/
section {
  position: relative;
  width: 100%;
}
.banner {
  width: 100%;
  height: 400px;
  margin: auto;

  background-size: 100% 100%;

  animation: banner 10s infinite;
  animation-direction: alternate;
}

  @keyframes banner {
    0%, 30% {
      background-image: url(../img/img.jpg);
      opacity: 1;
    }
    31%, 34% {
      opacity: 0.1;
    }
    35%, 65% {
      background-image: url(../img/img1.jpg);
      opacity: 1;
    }
    66%, 69% {
      opacity: 0.1;
    }
    70%, 100% {
      background-image: url(../img/img2.jpg);
      opacity: 1;
    }
  }

  .banner2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
  }

  .banner2 h1 {
    font-size: 100px;
    font-family:'Permanent Marker', cursive;
    text-shadow: 2px 2px black;
  }

  .banner2 h4 {
    text-align: center;
    font-size: 30px;
    margin-right: 70px;
    text-shadow: 2px 2px black;
  }

  .banner2 a {
    width: 100px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #fff;
    text-shadow: 2px 2px black;
    margin-left: 285px;
  }

  .banner2 a:hover {
    background-color: gray;
  }

.home {
  width: 100%;
  height: 500px;
}
.bienvenidos {
  text-align: center;
  margin-top: 40px;
}

.bienvenidos h2 {
  font-family:'Permanent Marker', cursive;
  font-size: 40px;
}

.blog h2, h4 {
  text-align: center;
}
.blog .blog1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog article {
  margin: 15px;
}

.blog img {
  width: 300px;
}

/*Formulario Registro y Contacto*/

main {
  width: 74%;
  margin: 20px auto;
  background-color: #999999;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
}

.form-register {
  width: 95%;
  max-width: 500px;
  margin: auto;
  border-radius: 7px;
}

.form--titulo{
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid black;
}

.contenedor-inputs {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid darkgray;
}
.input-48 {
  width: 48%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
}

.input-100 {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
}

textarea {
  margin-bottom: 20px;
  outline: none;
}

.btn-enviar {
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
  height: 45px;
  background: #b80f22;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
}
.btn-enviar:active{
  transform: scale(1.10);
}

.form--link {
  width: 100%;
  margin: 7px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

/*Footer*/

footer {
  width: 100%;
}

.footer-container {
  width: 100%;
  background-color: #666666;
  color: #fff;
}

.footer-main {
  width: 98%;
  max-width: 1000px;
  margin: auto;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-main .footer-columna {
  width: calc(100% / 3);
  text-align: justify;
}

.footer-main .footer-columna:nth-child(2) {
  padding: 0 20px;
}

.footer-main .footer-columna h3 {
  font-size: 32px;
  color: #00C6EE;
  margin-bottom: 20px;
}

.footer-main .footer-columna input[type="email"] {
  border: none;
  width: 100%;
  border: 1px solid #00C6EE;
  font-size: 14px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

.footer-main .footer-columna input[type="submit"] {
  border: none;
  background: #00C6EE;
  color: #fff;
  padding: 10px 40px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.footer-main .footer-columna span p {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
}

.footer-copy-redes {
  width: 100%;
  background-color: #000;
  border-top: 3px solid #fff;
}

.main-copy-redes {
  width: 98%;
  max-width: 1000px;
  padding: 15px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-copy-redes .footer-copy {
  width: 70%;
  color: #fff;
}

.main-copy-redes .footer-redes {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-copy-redes .footer-redes a {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  text-align: center;
}

/*Media Query*/

@media screen and (max-width:790px) {
  body {
    padding-top: 80px;
  }
/*Header*/

  .menu_bar {
    display: block;
    width: 100%;
    position: fixed;
    top:0;
    background-color: #E6344A;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu_bar span {
    float: right;
    font-size: 40px;
  }

  header nav {
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
  }

  header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255,.5);
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li:hover .children {
    display: none;
  }

  header nav ul li .children {
    width: 100%;
    position: relative;
  }

  header nav ul li .children li a {
    margin-left: 20px;
  }

  header nav ul li .caret {
    float: right;
  }

  /*Footer*/

  .footer-main .footer-columna {
    padding: 0 10px;
  }

  .footer-main .footer-columna h3 {
    font-size: 28px;
  }

  .footer-main .footer-columna p {
    font-size: 14px;
  }

}

@media screen and (max-width:640px) {
  .footer-main {
    padding: 10px 0;
  }

  .footer-main .footer-columna {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .footer-main .footer-columna h3 {
    margin-bottom: 5px;
  }

  .footer-main .footer-columna span {
    display: block;
  }

  .main-copy-redes .footer-copy {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

   .main-copy-redes .footer-redes {
    width: 80%;
    margin: auto;
  }
}
