* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  background-size: 1400px;
}

/*Barra de Navegacion*/

header {
  width: 100%;
}

header nav {
  width: 100%;
  background: #024959;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

.menu-bar {
  display: none;
}

.logo {
  float: right;
  padding: 20px;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
}

.logo:hover {
  background: #037E8C;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}

header nav ul li span {
  margin-right: 10px;
}

header nav ul li a:hover {
  background: #037E8C;
}

/*Formulario de Registro*/
main {
  width: 74%;
  margin: 20px auto;
  background: #9999;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

h1 {
  color: black;
  text-align: center;
  margin-top: 40px;
}

.form-register {
  width: 95%;
  max-width: 500px;
  margin: auto;
  border-radius: 7px;
}

.form--titulo{
  color: black;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid black;
}

.contenedor-inputs {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid darkgray;
}
.input-48 {
  width: 48%;
}

.input-100 {
  width: 100%;
}

.btn-enviar {
  background: crimson;
  color: white;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 20px;
}
.btn-enviar:active{
  transform: scale(1.10);
}

.form--link {
  width: 100%;
  margin: 7px;
  text-align: center;
  font-size: 14px;
}

/* Footer */

footer {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  background: #024959;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

footer div ul {
  overflow: hidden;
  list-style: none;
}

footer div ul li {
  float: left;
  margin-left: 150px;
}

footer div ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}

footer div ul li a:hover {
  background: #037E8C;
}


/* Contacto */

.input-footer, textarea {
  width: 100%;
  margin-top: 10px;
}

.btn-footer {
  background: crimson;
  color: white;
  width: 100%;
  margin-top: 10px;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 20px;
}

.btn-footer:active {
  transform: scale(1.10);
}

/* Home */
.main-home {
  width: 74%;
  margin: 20px auto;
  background: #9999;
  padding: 20px;
  height: 500px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

.main-home h1 {
    font-family: 'Permanent Marker', cursive;
    color: #fff;
    font-size: 70px;
    text-shadow: 3px 3px 5px #111,
               6px 6px 5px #111,
               9px 9px 5px #111;
    margin-right: 600px;
    margin-top: 50px;
}

.login-home {
  background-color:#024959;
  border-radius: 20px;
  color: #fff;
  width: 300px;
  position: absolute;
  transform: translate(200%, -45%);
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

.login-home h2 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
}

.login-home label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-home input {
  width: 100%;
  margin-bottom: 10px;
}

.login-home input[type="text"],
.login-home input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-home .btn-home {
  border: none;
  outline: none;
  height: 40px;
  background: crimson;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
}

.login-home .btn-home:active{
  transform: scale(1.10);
}

.login-home a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}

.login-home a:hover {
  color: #fff;
}

section {
  background-image: url(../img/img4.jpg);
  margin-top: -36px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

section div {
  width: 23%;
}

section div h2 {
  color: #fff;
  font-family:'Nunito Sans', sans-serif;
  text-shadow: 3px 3px 5px #111,
             6px 6px 5px #111,
             9px 9px 5px #111;
  margin-bottom: 20px;
}

section div p {
  color: #fff;
  font-weight: bold;
  text-shadow: 3px 3px 5px #111,
             6px 6px 5px #111,
             9px 9px 5px #111;
  font-size: 19px;
}



/* Media Query */

@media screen and (max-width: 700px) {
  header nav {
    width: 80%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .menu-bar {
    display: block;
    width: 100%;
    background: #ccc;
  }

  .menu-bar .bt-menu {
    display: block;
    padding: 20px;
    background: #024959;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;
  }
  .menu-bar span {
    float: right;
    font-size: 30px;
  }

  /*Footer*/

  footer {
    width: 80%;
  }

  footer div ul li {
    display: block;
    float: right;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  footer div ul li a {
    text-align: center;
  }

  .main-home {
    text-align: center;
  }

  .main-home h1 {
    font-size: 40px;
  }

  .login-home {
    transform: translate(12%,5%);
    width: 250px;
  }

}
